
@media (min-width: 58rem) {
  .tasks{
    grid-template-columns: 1fr 1fr !important;
  }
  .overview-box{
    grid-template-columns: 1fr 1fr !important;
  }
  .card-modal{
    grid-template-columns: 7fr 3fr !important;
    grid-template-rows: 1fr !important;

  }
 
  
  #menu-button{
    display: none;
  }
  
}

#main{
  padding: 0;
  margin: 0;
  width: 100%;
  align-self: center;
  justify-self: center;
}

